Import Libraries That Are Needed For Functionality.

In [8]:
import pandas as pd 
import numpy as np

In [9]:
df = pd.read_csv (r"C:\Users\Majid\Desktop\new data\rotten_tomatoes_movie_reviews.csv")

In [10]:
print("--Frist 5 rows--")
df.head(5)

--Frist 5 rows--

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,3.5/4,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,http://www.deseretnews.com/article/700003233/B...
1,blood_mask,1636744,2007-06-02,The Foywonder,False,1/5,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE,http://www.dreadcentral.com/index.php?name=Rev...
2,city_hunter_shinjuku_private_eyes,2590987,2019-05-28,Reuben Baron,False,NaN,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE,https://www.cbr.com/city-hunter-shinjuku-priva...
3,city_hunter_shinjuku_private_eyes,2558908,2019-02-14,Matt Schley,False,2.5/5,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE,https://www.japantimes.co.jp/culture/2019/02/0...
4,dangerous_men_2015,2504681,2018-08-29,Pat Padua,False,NaN,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE,http://dcist.com/2015/11/out_of_frame_dangerou...

In [14]:
print("--last 5 rows--")
df.tail(5)

--last 5 rows--

,id,reviewId,criticName,reviewText,scoreSentiment
1444958,thor_love_and_thunder,102706151,Christie Cronan,Solid but not totally sold&#44; Thor&#58; Ragn...,POSITIVE
1444959,thor_love_and_thunder,102706150,Ian Sandwell,Thor&#58; Love and Thunder is the most enterta...,POSITIVE
1444960,thor_love_and_thunder,102706149,Lauren LaMagna,&quot;Thor&#58; Love and Thunder&quot; is a st...,POSITIVE
1444961,thor_love_and_thunder,102706148,Jake Cole,Across Taika Waititi&#8217;s film&#44; a war a...,NEGATIVE
1444962,thor_love_and_thunder,102706147,Roger Moore,It&#8217;s the jokes that make it&#44; with th...,POSITIVE

In [16]:
drop_columns = ['criticName']
df.drop(columns = drop_columns,axis=1, inplace=True) 
print("frist 5 rows:")
df.head(5)

frist 5 rows:

,id,reviewId,reviewText,scoreSentiment
0,beavers,1145982,Timed to be just long enough for most youngste...,POSITIVE
1,blood_mask,1636744,It doesn't matter if a movie costs 300 million...,NEGATIVE
2,city_hunter_shinjuku_private_eyes,2590987,The choreography is so precise and lifelike at...,POSITIVE
3,city_hunter_shinjuku_private_eyes,2558908,The film's out-of-touch attempts at humor may ...,NEGATIVE
4,dangerous_men_2015,2504681,Its clumsy determination is endearing and some...,POSITIVE

In [17]:
print("-- Attributes in Data --")
for cols in df.columns:
    print(cols)

-- Attributes in Data --
id
reviewId
reviewText
scoreSentiment

In [18]:
print("-- Attributes in Data --")
print(df.count())

-- Attributes in Data --
id                1444963
reviewId          1444963
reviewText        1375738
scoreSentiment    1444963
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444963 entries, 0 to 1444962
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1444963 non-null  object
 1   reviewId        1444963 non-null  int64
 2   reviewText      1375738 non-null  object
 3   scoreSentiment  1444963 non-null  object
dtypes: int64(1), object(3)
memory usage: 44.1+ MB

In [20]:
df.isnull()

            id  reviewId  reviewText  scoreSentiment
0        False     False       False           False
1        False     False       False           False
2        False     False       False           False
3        False     False       False           False
4        False     False       False           False
...        ...       ...         ...             ...
1444958  False     False       False           False
1444959  False     False       False           False
1444960  False     False       False           False
1444961  False     False       False           False
1444962  False     False       False           False

[1444963 rows x 4 columns]

In [21]:
df.isnull().sum()

id                    0
reviewId              0
reviewText        69225
scoreSentiment        0
dtype: int64

In [22]:
df.shape

(1444963, 4)

In [23]:
df.dropna(inplace = True)

In [24]:
df.shape

(1375738, 4)

In [25]:
df.isnull().sum()

id                0
reviewId          0
reviewText        0
scoreSentiment    0
dtype: int64

In [26]:
df['scoreSentiment'] = df['scoreSentiment'].map({'NEGATIVE': 0, 'POSITIVE': 1})
df.head(5)

,id,reviewId,reviewText,scoreSentiment
0,beavers,1145982,Timed to be just long enough for most youngste...,1
1,blood_mask,1636744,It doesn't matter if a movie costs 300 million...,0
2,city_hunter_shinjuku_private_eyes,2590987,The choreography is so precise and lifelike at...,1
3,city_hunter_shinjuku_private_eyes,2558908,The film's out-of-touch attempts at humor may ...,0
4,dangerous_men_2015,2504681,Its clumsy determination is endearing and some...,1

Save The Preprocess Data In The New File

In [27]:
#  file_path = r'D:\3rd Semester DATA SCINCE\preprocessed_data.csv'
# df.to_csv(file_path, index=False)
# print(f"Data saved successfully to {file_path}")

In [28]:
import pandas as pd
import numpy as np

Load The Data Set after the preprocessed

In [29]:
df= pd.read_csv(r'D:\3rd Semester DATA SCINCE\preprocessed_data.csv')

In [30]:
print("frist 5 rows")
df.head(5)

frist 5 rows

,id,reviewId,reviewText,scoreSentiment
0,beavers,1145982,Timed to be just long enough for most youngste...,1
1,blood_mask,1636744,It doesn't matter if a movie costs 300 million...,0
2,city_hunter_shinjuku_private_eyes,2590987,The choreography is so precise and lifelike at...,1
3,city_hunter_shinjuku_private_eyes,2558908,The film's out-of-touch attempts at humor may ...,0
4,dangerous_men_2015,2504681,Its clumsy determination is endearing and some...,1

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1375738 entries, 0 to 1375737
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1375738 non-null  object
 1   reviewId        1375738 non-null  int64
 2   reviewText      1375738 non-null  object
 3   scoreSentiment  1375738 non-null  int64
dtypes: int64(2), object(2)
memory usage: 42.0+ MB

In [32]:
df.isnull().sum()

id                0
reviewId          0
reviewText        0
scoreSentiment    0
dtype: int64

For some reason i dropped the column i need to see data more accurately.

In [33]:
drop_columns = ['id']
df.drop(columns = drop_columns,axis=1, inplace=True) 
print("frist 5 rows:")
df.head(5)

frist 5 rows:

   reviewId                                         reviewText  scoreSentiment
0   1145982  Timed to be just long enough for most youngste...               1
1   1636744  It doesn't matter if a movie costs 300 million...               0
2   2590987  The choreography is so precise and lifelike at...               1
3   2558908  The film's out-of-touch attempts at humor may ...               0
4   2504681  Its clumsy determination is endearing and some...               1

Integer division to get half of the rows

In [34]:
rows_to_keep = len(df) // 2  
df = df.iloc[:rows_to_keep]

In [35]:
print (len(df))

687869

In [36]:
df.tail(5)

,reviewId,reviewText,scoreSentiment
687864,2204698,The film pokes gentle and sometimes not so gen...,1
687865,2204685,The script rings false from the off.,0
687866,2204682,The preposterousness of this plot marks Fading...,1
687867,2204565,"It has some funny moments, mostly courtesy of ...",1
687868,2204450,"It's relaxed, amusing and warm, but nothing ri...",0

Text Preprocessing

In [37]:
# To remove Punctuation and numbers
# pip install nltk
from bs4 import BeautifulSoup
import re     
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Majid\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [39]:
class CleanText:

    def __init__(self, stopwords_language="english"):
        self.stops = set(stopwords.words(stopwords_language))

    def clean(self, text):
        if pd.isna(text) or not isinstance(text, str):
            return ""  
        try:
            review_text = BeautifulSoup(text, 'html.parser').get_text()
        except Exception as e:
            print(f"Error parsing HTML: {e}")
            return text 
        letters_only = re.sub("[^a-zA-Z]", " ", review_text)
        words = letters_only.lower().split()
        meaningful_words = [w for w in words if w not in self.stops]
        return " ".join(meaningful_words)
    
cleaner = CleanText()
df["cleaned_reviewText"] = df["reviewText"].apply(cleaner.clean)
print(df["cleaned_reviewText"].head())

C:\Users\Majid\AppData\Local\Temp\ipykernel_4244\178657532.py:10: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  review_text = BeautifulSoup(text, 'html.parser').get_text()
C:\Users\Majid\AppData\Local\Temp\ipykernel_4244\178657532.py:10: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  review_text = BeautifulSoup(text, 'html.parser').get_text()

0    timed long enough youngsters brief attention s...
1    matter movie costs million dollars good good b...
2    choreography precise lifelike points one might...
3    film touch attempts humor may find hunting rea...
4    clumsy determination endearing sometimes wildl...
Name: cleaned_reviewText, dtype: object

Dependent Features and Independent Feature

x is the Independent features the data set & y is the Dependent fratures target

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=100)
X = vectorizer.fit_transform(df['cleaned_reviewText']).toarray()
y = df['scoreSentiment']

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [43]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"MSE: {mse}, R²: {r2}")

MSE: 0.20517236087686502, R²: 0.0669870655388658

In [44]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {'n_estimators': [100], 'max_depth': [3]}
grid_search = GridSearchCV(GradientBoostingRegressor(), param_grid, cv=5)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)

{'max_depth': 3, 'n_estimators': 100}

In [45]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')
print(f"Average MSE: {abs(scores.mean())}")

Average MSE: 0.20546938013342664